<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdoutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/history/info.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-20}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MY_FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!--error log appender-->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/history/error.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:0}</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames class="net.quenya.logstash.CustomFieldNames"/>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/history/debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-10}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MY_FILE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <springProfile name="local">
        <logger name="net.quenya" level="DEBUG"/>
        <logger name="org.springframework" level="INFO"/>
        <logger name="ch.qos" level="ERROR"/>
        <logger name="freemarker" level="ERROR"/>
        <logger name="org.apache" level="ERROR"/>
        <logger name="org.xnio.nio" level="ERROR"/>
        <logger name="org.hibernate.validator" level="ERROR"/>
        <logger name="io.netty" level="INFO"/>
        <logger name="io.undertow" level="ERROR"/>
        <logger name="io.grpc.netty" level="info"/>
        <logger name="com.netflix" level="info"/>
       <root level="DEBUG">
            <appender-ref ref="stdoutAppender"/>
        </root>
    </springProfile>

    <springProfile name="dev,test">
        <logger name="net.quenya" level="INFO"/>
        <logger name="freemarker" level="ERROR"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="ch.qos" level="ERROR"/>
        <logger name="org.apache" level="ERROR"/>
        <logger name="org.xnio.nio" level="ERROR"/>
        <logger name="org.hibernate.validator" level="ERROR"/>
        <logger name="io.netty" level="ERROR"/>
        <logger name="io.undertow" level="ERROR"/>
        <logger name="mousio.etcd4j" level="ERROR"/>
        <logger name="com.netflix" level="ERROR"/>
        <logger name="org.xnio" level="ERROR"/>
        <logger name="org.hibernate" level="ERROR"/>
        <root level="DEBUG">
            <appender-ref ref="errorAppender"/>
            <appender-ref ref="infoAppender"/>
            <appender-ref ref="stdoutAppender"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="net.quenya" level="INFO"/>
        <root level="ERROR">
            <appender-ref ref="infoAppender"/>
            <appender-ref ref="errorAppender"/>
        </root>
    </springProfile>

</configuration>