<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="style/main.css">
    <script src="easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="easyui/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="login" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     buttons="#login-buttons" modal="true" title="请登录" closable="false">
    <div class="ftitle">please input the user infomations</div>
    <form id="loginform" method="post" action="#">
        <div class="fitem">
            <label>username:</label>
            <input type="text" name="username" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>password:</label>
            <input type="password" name="password" class="easyui-validatebox" required="true"  />
        </div>
    </form>
</div>
<div id="login-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick=   "login()">signIn</a>
</div>

<script type="text/javascript">
    function login() {
        /*$('#loginform').form('submit', {
            url:"login/sign",
            onSubmit: function(param){
                //param.username = "aaa";
            },
            success: function (data) {  //表单提交成功后的回调函数，里面参数data是我们调用/BasicClass/ModifyClassInfo方法的返回值。
                alert(data);
                if (data > 0) {
                    $.messager.show({
                        title: '提示消息',
                        msg: '提交成功',
                        showType: 'show',
                        timeout: 1000,
                        style: {
                            right: '',
                            bottom: ''
                        }
                    });
                }else {
                    $.messager.alert('提示信息', '提交失败，请联系管理员！', 'warning');
                }
            }
        });*/

        $('#loginform').form('submit', {
            url:"login/sign",
            onSubmit:function () {
                return true;	// return false will stop the form submission
            },
            success: function () {
                $.messager.progress('close');	// hide progress bar while submit successfully
            }
        });
    }
</script>
</body>
</html>
